:root {
    --background-color: #F55050;
    --jobcard-color: #FFF;
    --jobcard-color-hover: #fff6f6;
    --text-color: #000000;
    --button-text-color: #ffffff;
    --button-color: #F55050;
    --brandname-color: #fff6f6;
    --border-radius: 14px;
    --scroll-start: 0;
    --scroll-end: -100%;
}


.button {
    height: 50px;
    width: 100px;
    align-items: center;
    justify-content: center;
    border-radius: var(--border-radius);
    background-color: var(--button-color);
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-shadow: 1px 1px 2px #000;
    text-decoration: none;
    color: var(--button-text-color);
    position: relative;
    overflow: hidden;
}

.button:after {
    content: "";
    position: absolute;
    top: 0%;
    left: -200%;
    width: 200%;
    height: 200%;
    opacity: 0;
    transform: rotate(0deg);
    background: linear-gradient(to right,
            rgba(255, 255, 255, 0.098) 0%,
            rgba(255, 255, 255, 0.13) 77%,
            rgba(255, 255, 255, 0.5) 92%,
            rgb(255, 255, 255) 100%);
}

.button:hover:after {
    border-width: 3px;
    border-color: #000;
    opacity: 1;
    top: 0%;
    left: 0%;
    transition-property: left, top, opacity;
    transition-duration: 0.7s, 0.7s, 0.7s;
    transition-timing-function: ease;
}

.headertitle {
    font-family: 'Nunito', sans-serif;
    color: var(--text-color);
    text-align: center;
    font-weight: 800;
}

.email-form {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.form-block {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin-top: 10px;
}

.noresult {
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}

.emailfield {
    margin-right: 3px;
    margin-bottom: 0px;
    border-radius: var(--border-radius);
    height: 50px;
}

.emailfield:hover {
    border-width: 2px;
    border-color: var(--button-color);
}

.body {
    background-color: var(--background-color);
}

.section {
    margin-top: 100px;
    padding: 30px;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 1px 1px 6px 1px #000;
    border-radius: var(--border-radius);
    background-color: #FFF;
}

.jobboard-ref {
    display: flex;
    flex-direction: row;
    flex-shrink: 1;
}

.jobboard-ref-logo-div {
    display: flex;
    flex-direction: row;
    animation: scroll-left 12s linear infinite;
}

.jobboard-ref-logo-div2 {
    display: flex;
    flex-direction: row;
    animation: scroll-left2 12s linear infinite;
}

.jobboard-ref {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 14px;
    margin-bottom: 14px;
    overflow: hidden;
}

.jobboard-ref-text {
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
    font-size: 12px;
    text-align: center;
}


.jobboard-ref-logo {
    padding-right: 10px;
    padding-left: 10px;
    filter: grayscale(100%) drop-shadow(1px 1px 1px gray);
}

.jobboard-ref-logo:hover {
    filter: none;
}

@keyframes scroll-left {
    from {
        transform: translateX(var(--scroll-start))
    }

    to {
        transform: translateX(var(--scroll-end))
    }
}


@media (prefers-reduce-motions: reduce) {
    .jobboard-ref-logo-div {
        animation-play-state: paused;
    }
}

@media screen and (max-width: 991px) {}

@media screen and (max-width: 767px) {}

@media screen and (max-width: 479px) {}