.navbarname {
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    text-shadow: 1px 1px 2px #000;
    text-decoration: none;
}

.navbarname.pagename {
    margin-right: 18px;
    padding-right: 0px;
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    text-align: right;
    text-shadow: 1px 1px 1px #000;
}

.navbarname.brandname {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    font-size: 22px;
}

.navbarcontainer {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 12px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.headersection {
    min-height: 350px;
    background-image: url('../images/city.png');
    background-position: 0% 100%;
    background-size: auto;
    background-attachment: scroll;
}

.pagename {
    color: #fff;
    font-weight: 700;
}

.headercontainer {
    display: block;
    min-height: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: transparent;
}

.button {
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    background-color: #e21041;
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-shadow: 0 0 3px #000;
    position: relative;
    overflow: hidden;
}

.button:after {
    content: "";
    position: absolute;
    top: 0%;
    left: -200%;
    width: 200%;
    height: 200%;
    opacity: 0;
    transform: rotate(0deg);
    background: linear-gradient(to right,
            rgba(255, 255, 255, 0.098) 0%,
            rgba(255, 255, 255, 0.13) 77%,
            rgba(255, 255, 255, 0.5) 92%,
            rgb(255, 255, 255) 100%);
}

.button:hover:after {
    border-width: 3px;
    border-color: #000;
    opacity: 1;
    top: 0%;
    left: 0%;
    transition-property: left, top, opacity;
    transition-duration: 0.7s, 0.7s, 0.7s;
    transition-timing-function: ease;
}

.headertitle {
    font-family: 'Nunito', sans-serif;
    color: #fff;
    text-align: center;
    font-weight: 800;
    text-shadow: 1px 1px 2px #000;
}

.form {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.form-block {
    margin-bottom: 0px;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.emailfield {
    margin-right: 3px;
    margin-bottom: 0px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
    border-radius: 4px;
}

#emailbox {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.emailfooter {
    display: flex;
    margin-top: 0px;
    padding: 5px;
    justify-content: center;
    align-items: center;
    flex: auto;
    background-color: #1c1c1c;
}

.utility-page-wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100vw;
    height: 100vh;
    max-height: 100%;
    max-width: 100%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.utility-page-content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 260px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
}

.utility-page-form {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}

.jobcard_header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.jobcard_footer {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 300px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
}

.jobcard {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    border: 0px solid #000;
    border-radius: 4px;
    box-shadow: 1px 1px 5px -3px #000;
    cursor: pointer;
}

.container {
    padding-right: 90px;
    padding-left: 90px;
}

.body {
    box-shadow: 0 0 3px 0 #000;
}

.jobcard_logo {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.image {
    width: 70px;
    height: 70px;
}

.jobcardtext {
    height: auto;
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
}

.jobcardtext.jobcardtitle {
    font-weight: 800;
    text-decoration: none;
}

.jobcardtext.jobcardplace {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-right: 8px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
}

.jobcard_title {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 33%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.jobcard_company {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 33%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}

.jobcard_info {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 33%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.mapicon {
    margin-right: 8px;
}

.jobcard_skills {
    display: block;
    width: 70%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
}

.jobcard_date {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 30%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
}

.loader {
    text-align: center;
    padding: 5px;
}

.emailcontainer {
    display: flex;
    width: 767px;
    justify-content: center;
    align-items: center;
}

.emailcross {
    margin-left: 4px;
    filter: invert(100%);
}

.searchdiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.searchbar {
    width: 690px;
    justify-content: center;
    align-items: stretch;
}

.searchbardiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.searchbutton {
    width: 100%;
    border-radius: 22px;
    margin-top: 8px;
    height: 50px;
    font-size: 16px;
    font-weight: 700;
}

.searchbarinput {
    border-color: #ff000096;
    border-width: 0px;
    width: 70%;
    height: 50px;
    margin-right: 8px;
    margin-bottom: 0px;
    padding-right: 12px;
    border-radius: 22px;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    font-size: 14px;
}

.locationinput {
    border-color: #ff000096;
    border-width: 0px;
    width: 30%;
    height: 50px;
    margin-bottom: 0px;
    border-radius: 22px;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    font-size: 14px;
}


.jobboardreference {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 14px;
    margin-bottom: 14px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.div-block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 5px;
    background-color: hsla(0, 0%, 100%, 0.61);
}

.jobboardlogo {
    padding-right: 10px;
    padding-left: 10px;
    filter: grayscale(100%) drop-shadow(1px 1px 1px gray);
}

.text-block {
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    font-size: 16px;
}

.jobcard_preview {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    min-height: 100px;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.jobcard_expand {
    display: none;
    padding: 20px;
}

@media screen and (max-width: 991px) {
    .navbarname.pagename {
        margin-right: 18px;
    }

    .headersection {
        background-position: 21% 100%;
    }

    .container {
        padding-right: 10px;
        padding-left: 10px;
    }
}

@media screen and (max-width: 767px) {
    .navbarname {
        font-size: 22px;
    }

    .navbarname.pagename {
        margin-right: 15px;
    }

    .navbarcontainer {
        padding-right: 15px;
        padding-left: 15px;
    }

    .searchbar {
        width: 90%;
    }

    .jobcard_footer {
        width: 220px;
    }

    .jobcard_skills {
        width: 60%;
    }

    .jobcard_date {
        width: 40%;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
    }
}

@media screen and (max-width: 479px) {
    .navbarname.pagename {
        display: none;
        margin-right: 18px;
    }

    .headersection {
        background-position: 21% 100%;
    }

    .jobcard_footer {
        width: 57px;
    }

    .container {
        padding-right: 0px;
        padding-left: 0px;
    }

    .jobcard_logo {
        width: 85px;
    }

    .image {
        width: 60px;
        height: 60px;
    }

    .jobcard_skills {
        display: none;
    }

    .jobcard_date {
        width: 100%;
        padding-right: 4px;
    }

    .jobdate {
        -webkit-align-self: flex-end;
        -ms-flex-item-align: end;
        align-self: flex-end;
        font-size: 10px;
    }
}