:root {
    --background-color: #fcfdf9;
    --jobcard-color: #FFF;
    --jobcard-color-hover: #fff6f6;
    --text-color: #000;
    --button-text-color: #ffffff;
    --button-color: #F55050;
    --brandname-color: #F55050;
    --border-radius: 8px;
}

.filters {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.apply {
    margin-top: 20px;
    margin-bottom: -20px;
    margin-left: -20px;
    margin-right: -20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.tag {
    display: inline-block;
    flex-grow: 0;
    flex-shrink: 1;
    align-items: center;
    justify-content: center;
    padding: 9px 15px;
    border-radius: var(--border-radius);
    border-style: solid;
    border-color: #000;
    border-width: 2px;
    font-family: 'Nunito', sans-serif;
    font-size: 12px;
    font-weight: 600;
    text-decoration: none;
    color: #000000;
    margin-left: auto;
}

.navbarname {
    color: var(--text-color);
    font-family: 'Nunito', sans-serif;
    font-size: 24px;
    font-weight: 700;
    text-decoration: none;
}

.navbarname.pagename {
    margin-right: 18px;
    padding-right: 0px;
    font-size: 18px;
    text-align: right;
}

.navbarname.brandname {
    flex: 1;
    font-size: 22px;
    font-weight: 900;
    color: var(--brandname-color);
}

.navbarcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 940px;
    padding: 12px;
}

.headersection {
    min-height: 350px;
    background-position: 0% 100%;
    background-size: auto;
    background-attachment: scroll;
}

.headercontainer {
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: stretch;
    background-color: transparent;
}

.button {
    padding: 9px 15px;
    align-items: center;
    justify-content: center;
    border-radius: var(--border-radius);
    background-color: var(--button-color);
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-shadow: 1px 1px 2px #000;
    text-decoration: none;
    color: var(--button-text-color);
    position: relative;
    overflow: hidden;
}

.button:after {
    content: "";
    position: absolute;
    top: 0%;
    left: -200%;
    width: 200%;
    height: 200%;
    opacity: 0;
    transform: rotate(0deg);
    background: linear-gradient(to right,
            rgba(255, 255, 255, 0.098) 0%,
            rgba(255, 255, 255, 0.13) 77%,
            rgba(255, 255, 255, 0.5) 92%,
            rgb(255, 255, 255) 100%);
}

.button:hover:after {
    border-width: 3px;
    border-color: #000;
    opacity: 1;
    top: 0%;
    left: 0%;
    transition-property: left, top, opacity;
    transition-duration: 0.7s, 0.7s, 0.7s;
    transition-timing-function: ease;
}

.headertitle {
    font-family: 'Nunito', sans-serif;
    color: var(--text-color);
    text-align: center;
    font-weight: 800;
}

.email-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.form-block {
    margin-bottom: 0px;
    align-items: flex-end;
    flex: 1;
}

.noresult {
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}

.emailfield {
    margin-right: 3px;
    margin-bottom: 0px;
    flex: 0 auto;
    border-radius: var(--border-radius);
}

#emailbox {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.emailfooter {
    display: flex;
    margin-top: 0px;
    padding: 5px;
    justify-content: center;
    align-items: center;
    flex: auto;
    background-color: #1c1c1c;
}

.jobcard_header {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.jobcard_footer {
    display: flex;
    width: 300px;
    flex: 0 auto;
}

.jobcard {
    display: flex;
    flex-direction: column;
    border: 0px solid #000;
    border-radius: var(--border-radius);
    box-shadow: 1px 1px 6px -2px #000;
    cursor: pointer;
    margin-top: 10px;
    background-color: var(--jobcard-color);
}

.jobcard:hover {
    background-color: var(--jobcard-color-hover);
}

.container {
    padding-right: 90px;
    padding-left: 90px;
}

.body {
    box-shadow: 0 0 3px 0 #000;
    background-color: var(--background-color);
}

.loader {
    display: none;
    text-align: center;
    padding: 5px;
}

.emailcontainer {
    display: flex;
    width: 767px;
    justify-content: center;
    align-items: center;
}

.emailcross {
    margin-left: 4px;
    filter: invert(100%);
}

.searchdiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.searchbar {
    width: 690px;
    justify-content: center;
    align-items: stretch;
}

.searchbardiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.searchbutton {
    width: 100%;
    border-radius: var(--border-radius);
    margin-top: 8px;
    height: 50px;
    font-size: 16px;
    font-weight: 700;
}

.searchbarinput {
    border-width: 1px;
    border-color: #000;
    width: 65%;
    height: 50px;
    margin-right: 8px;
    margin-bottom: 0px;
    padding-right: 12px;
    border-radius: var(--border-radius);
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    font-size: 14px;
}

.locationinput {
    border-width: 1px;
    border-color: #000;
    width: 35%;
    height: 50px;
    margin-bottom: 0px;
    border-radius: var(--border-radius);
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    font-size: 14px;
}

.jobboard-ref {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 14px;
    margin-bottom: 14px;
}

.jobboard-ref-text {
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    font-size: 16px;
}


.jobboard-ref-logo {
    padding-right: 10px;
    padding-left: 10px;
    filter: grayscale(100%) drop-shadow(1px 1px 1px gray);
}

.jobcard_preview {
    display: flex;
    min-height: 100px;
    flex: 1;
}

.jobcard_expand {
    display: none;
    padding: 20px;
}

.jobcard_logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
}

.logo_image {
    width: 70px;
    height: 70px;
}

.jobcardtext {
    height: auto;
    align-self: flex-start;
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
}

.jobcardtext.jobcardtitle {
    font-weight: 800;
    text-decoration: none;
}

.jobcardtext.jobcardplace {
    display: flex;
    margin-right: 8px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-self: flex-start;
}

.jobcard_title {
    display: flex;
    height: 33%;
    flex-direction: column;
    justify-content: flex-end;
}

.jobcard_company {
    display: flex;
    height: 33%;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

.jobcard_info {
    display: flex;
    height: 33%;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
}

.mapicon {
    margin-right: 8px;
}

.jobcard_skills {
    display: block;
    width: 70%;
    flex: 0 auto;
}

.jobcard_date {
    display: flex;
    width: 30%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 0 auto;
}

@media screen and (max-width: 991px) {
    .navbarname.pagename {
        margin-right: 18px;
    }

    .headersection {
        background-position: 20% 100%;
    }

    .container {
        padding-right: 10px;
        padding-left: 10px;
    }
}

@media screen and (max-width: 767px) {
    .navbarname {
        font-size: 22px;
    }

    .navbarname.pagename {
        margin-right: 15px;
    }

    .searchbar {
        width: 90%;
    }

    .jobboard-ref {
        flex-direction: column;
        height: 80px;
    }

    .jobboard-ref-logo-div {
        display: flex;
        padding: 12px;
        justify-content: center;
        align-content: center;
        overflow: scroll;
    }

    .jobcard_footer {
        width: 220px;
    }

    .jobcard_skills {
        width: 60%;
    }

    .jobcard_date {
        width: 40%;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 479px) {
    .navbarname.pagename {
        display: none;
        margin-right: 18px;
    }

    .jobcard_footer {
        width: 57px;
    }

    .container {
        padding-right: 0px;
        padding-left: 0px;
    }

    .jobcard_logo {
        width: 85px;
    }

    .image {
        width: 60px;
        height: 60px;
    }

    .jobcard_skills {
        display: none;
    }

    .jobcard_date {
        width: 100%;
        padding-right: 4px;
    }

    .jobdate {
        align-items: flex-start;
        font-size: 10px;
    }
}