{% if context.search_num is defined %}
<div class="filters">
    <div class="filters-select">
        <select id="job-filters" class="tag w-input">
            <optgroup label="Seniority">
                <option value="junior">Junior </option>
                <option value="senior">Senior </option>
            </optgroup>
            <optgroup label="Skills">
                <option value="c">C</option>
                <option value="c++">C++</option>
                <option value="python">Python</option>
            </optgroup>
        </select>
    </div>
    <div class="filters-result">
        <p class="tag">Result: {{ context.search_num }}</p>
    </div>
</div>
{% endif %}
{% for job in context.jobs %}
<div class="jobcard">
    <div class="jobcard_preview">
        <div class="jobcard_logo"><img src="/static/images/logos/{{ job.logo }}" loading="lazy" height="60" width="60"
                alt="" class="logo_image"></div>
        <div class="jobcard_header">
            <div class="jobcard_title">
                <div class="jobcardtext jobcardtitle">{{ job.title }}</div>
            </div>
            <div class="jobcard_company">
                <div class="jobcardtext">{{ job.company }}</div>
            </div>
            <div class="jobcard_info">
                <img src="{{ url_for('static', filename='images/pin.svg') }}" loading="lazy" width="20" height="20"
                    alt="" class="mapicon">
                <div class="jobcardtext jobcardplace">{{ job.place }}</div>
                <div class="jobcardtext">{{ context.flags[job.country] }}</div>
            </div>
        </div>
        <div class="jobcard_footer">
            <div class="jobcard_skills"></div>
            <div class="jobcard_date">
                <div class="jobdate">{{ job.date }}</div>
            </div>
        </div>
    </div>
    <div class="jobcard_expand">
        <div class="jobcardtext">
            {{ job.description }}
            <div class="button apply">APPLY</div>
        </div>
    </div>
</div>
{% endfor %}